@media srceen and (max-width: 1550px){
    body .container{
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 996px){
    body .container{
       
    }
}

@media screen and (max-width: 768px){
    .wrapper-col-dienstleistungen > a:first-child{
        display: block;
        margin-top: 40px;
    }
}